<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
        <%- include ('./partials/head') %>
    </head>
    <body class="container">
        <header>
            <%- include('./partials/header') %>
        </header>
    <%- body %>
    </body>
    <footer>
        <%- include ('./partials/footer') %>
    </footer>
</html>